* {
    font-family: monospace, monospace;
}

/** Scrollbar **/
*::-webkit-scrollbar {
    background-color: #fff;
    height: 4px;
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #fff
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 4px
}

pre {
    font-size: 1em;
    background: #f0f5fe;
    padding: 20px;
    white-space: pre-line;
}

/** Theme Icon **/
.theme-icon {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: 12px;
    margin-top: 12px;
    display: inline-block;
}

.theme-icon.active,
.theme-icon:hover {
    border: 4px solid #64b5f6;
    cursor: pointer;
}

.theme-icon.animated {
    margin-left: 32px;
    position: absolute;
}

.theme-icon.animated:before {
    content: "+";
    color: #000000;
    position: absolute;
    left: -29px;
    top: -8px;
    font-size: 2em;
}

.theme-icon.animated.active:before,
.theme-icon.animated:hover:before {
    top: -12px;
    left: -33px;
}

/** Dark Mode **/
body.dark,
body.dark header nav .nav-wrapper {
    background-color: #131313 !important;
}

body.dark span,
body.dark i,
body.dark .theme-icon.animated:before {
    color: white !important;
}

.chart-card.card {
    box-shadow: none;
    background-color: transparent;
}


.chart-card.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
}

nav ul li.active {
    background-color: transparent;
    box-shadow: inset 0 -3px 0 #7100f3;
}